= simple_form_for(@beacon, :wrapper => :bootstrap_horizontal, html: {class: 'form-horizontal' }) do |f|
  %section.row
    %section.col-lg-12
      = f.input :uuid
      = f.input :major
      = f.input :minor

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit
