%h1 Listing beacons
%table.table.table-striped
  %thead
    %tr
      %th Uuid
      %th Major
      %th Minor
      %th
      %th
      %th
  %tbody
    - @beacons.each do |beacon|
      %tr
        %td= beacon.uuid
        %td= beacon.major
        %td= beacon.minor
        -#%td= link_to 'Show', beacon
        %td= button_to('Edit', edit_beacon_path(beacon), :class => 'btn btn-large btn-primary')
        %td= button_to('Destroy',beacon, :class => 'btn btn-medium btn-primary', method: :delete, data: { confirm: 'Are you sure?' })
%br/
= button_to('New Beacon', new_beacon_path, :class => 'btn btn-large btn-primary')
