%p#notice= notice
%p
  %strong Id:
  = @template_photo.id
%p
  %strong Name:
  = @template_photo.name
%p
  %strong Title:
  = @template_photo.title
%p
  %strong Description:
  = @template_photo.description
%p
  %strong photolink:
  = @template_photo.photolink
%p
  %strong image1:
  = image_tag(@template_photo.url_image_1)
= link_to 'Edit', edit_template_photo_path(@template_photo)
|
= link_to 'Back', template_photos_path
