= simple_form_for(@template,:wrapper => :bootstrap_horizontal,  html: {class: 'form-horizontal', :multipart => true }) do |f|
  %section.row
    %section.col-lg-12
      = f.input :name
      = f.input :description_1
      = f.input :description_2
      = f.input :photo_link_1
      = f.input :photo_link_2
      = f.file_field :url_image_1
      = f.file_field :url_image_2
      = f.association :item
    %p
      %label
        Remove url_image_1
        = f.check_box :remove_url_image_1
    %p
      %label
        Remove url_image_2
        = f.check_box :remove_url_image_2
    Remove avatar
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit