= simple_form_for(@template,:wrapper => :bootstrap_horizontal,  html: {class: 'form-horizontal', :multipart => true }) do |f|
  %section.row
    %section.col-lg-12
      = f.input :name
      = f.input :description_1
      = f.input :description_2
      = f.input :photo_link_1
      = f.input :photo_link_2
      = f.association :item
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit