%h1 Listing templates
%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Name
      %th Description 1
      %th Description 2
      %th Photo link 1
      %th Photo link 2
      %th Edit
  %tbody
    - @templates.each do |template|
      %tr
        %td= template.id
        %td= template.name
        %td= template.description_1
        %td= template.description_2
        %td= template.photo_link_1
        %td= template.photo_link_2
        %td= link_to "Edit",  edit_template_path(template)
  = link_to 'New Template', new_template_path