= simple_form_for(@detection, :wrapper => :bootstrap_horizontal, html: {class: 'form-horizontal' }) do |f|
  %section.row
    %section.col-lg-12
      = f.association :beacon
      = f.association :user
      = f.input :accuracy
      = f.input :proximity
      = f.input :rssi

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit