<h1>Listing detections</h1>

<table>
  <thead>
    <tr>
      <th>Beacon</th>
      <th>User</th>
      <th>Accuracy</th>
      <th>Proximity</th>
      <th>Rssi</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @detections.each do |detection| %>
      <tr>
        <td><%= detection.beacon %></td>
        <td><%= detection.user %></td>
        <td><%= detection.accuracy %></td>
        <td><%= detection.proximity %></td>
        <td><%= detection.rssi %></td>
        <td><%= link_to 'Show', detection %></td>
        <td><%= link_to 'Edit', edit_detection_path(detection) %></td>
        <td><%= link_to 'Destroy', detection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detection', new_detection_path %>
