= simple_form_for(@user, :wrapper => :bootstrap_horizontal, html: {class: 'form-horizontal' }) do |f|
  %section.row
    %section.col-lg-12
      = f.input :first_name
      = f.input :last_name
      = f.input :email
      = f.input :uid
      = f.input :os
      = f.input :device_id

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit