%h1 Listing templates Wines
%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Name
      %th Taste Notes
      %th Price
      %th Photo link
      %th Wine Specs Vintage
      %th Wine Specs Sugar
      %th Wine Specs Appellation
      %th Wine Specs Acid
      %th Wine Specs Alcohol
      %th Wine Specs PH
      %th Wine Specs Price Description
      %th Item Remote Photo link
      %th Item Id
      %th Edit
  %tbody
    - @template_wines.each do |template_wine|
      %tr
        %td= template_wine.id
        %td= template_wine.name
        %td= template_wine.taste_notes
        %td= template_wine.price
        %td= template_wine.photo_link
        %td= template_wine.wine_specs_vintage
        %td= template_wine.wine_specs_sugar
        %td= template_wine.wine_specs_appellation
        %td= template_wine.wine_specs_acid
        %td= template_wine.wine_specs_alcohol
        %td= template_wine.wine_specs_ph
        %td= template_wine.wine_specs_price_description
        -if !template_wine.url_image_1.nil?
          %td= image_tag(template_wine.url_image_1)
        %td= template_wine.item_id
        %td= button_to('Edit Wine', edit_template_wine_path(template_wine), :class => 'btn btn-large btn-primary')
= button_to('New Wine', new_template_wine_path, :class => 'btn btn-large btn-primary')