= simple_form_for(@item,:wrapper => :bootstrap_horizontal,  html: {class: 'form-horizontal' }) do |f|
  %section.row
    %section.col-lg-12
      = f.input :spec
      = f.input :name
      = f.input :description
      = f.association :beacon

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit