= simple_form_for(@item,:wrapper => :bootstrap_horizontal,  html: {class: 'form-horizontal', :multipart => true }) do |f|
  %section.row
    %section.col-lg-12
      = f.input :spec
      = f.input :name
      = f.input :description
      = f.input :show_after_seconds
      = f.association :beacon
      = f.file_field :content
      = f.hidden_field :content_cache
      = image_tag(@item.content_url) if @item.content?

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit