= simple_form_for(@item,:wrapper => :bootstrap_horizontal,  html: {class: 'form-horizontal', :multipart => true }) do |f|
  %section.row
    %section.col-lg-12
      = f.input :spec
      = f.input :name
      = f.input :description
      = f.input :show_after_seconds
      = f.association :beacon, label_method: :description
      = link_to 'New Beacon', new_beacon_path
      = f.input :content, :as => :text
      = f.input :goodbye_content, :as => :text
      = f.input :video, :as => :text
      = f.input :template_id

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit