%h1 Listing items
%table.table.table-striped
  %thead
    %tr
      %th Spec
      %th Name
      %th Description
      %th Timeframe
      %th Beacon
      %th App
      %th Template_id
      %th
      %th
      %th
  %tbody
    - @items.each do |item|
      %tr
        %td= item.spec
        %td= item.name
        %td= item.description
        %td= item.show_after_seconds
        %td= item.beacon.major.to_s + ' - ' + item.beacon.minor.to_s
        %td= item.beacon.app.name
        %td= item.template_id
        %td= link_to 'Show', item
        %td= link_to 'Edit', edit_item_path(item)
        %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Item', new_item_path