%p#notice= notice
%p
  %strong Spec:
  = @item.spec
%p
  %strong Name:
  = @item.name
%p
  %strong Description:
  = @item.description
%p
  %strong Beacon:
  = @item.beacon
%p
  %strong Video:
  = @item.video

%p
  %strong Preview:
  %br
  = @item.content.html_safe
= link_to 'Edit', edit_item_path(@item)

|
\#{link_to 'Back', items_path}
|
\#{link_to 'Mobile Version', embedded_item_path(@item)}
|
\#{link_to 'Kiosk', kiosk_item_path(@item)}