.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"} iBeaconCMS
    .collapse.navbar-collapse
      - if user_signed_in?
        %ul.nav.navbar-nav
          %li{class: active_class('items')}
            = link_to 'Pages', items_path
          %li{class: active_class('beacons')}
            = link_to 'Beacons', beacons_path
          -#%li{class: active_class('users')}
            = link_to 'Users', users_path
          %li{class: active_class('detections')}
            = link_to 'Data', detections_path
          -#%li{class: active_class('Templates')}
            = link_to 'template articles', templates_path
          -#%li{class: active_class('Template_Photo')}
            = link_to 'template photos', template_photos_path
          %li{class: active_class('Template_Wine')}
            = link_to 'Wine List', template_wines_path
        = render 'navbar_login_logout_form'
.jumbotron
  .row-fluid
    %section.col-lg-12
      .col-sm-offset-2.col-lg-4
        = button_to('New Beacon', new_beacon_path, :class => 'btn btn-large btn-primary')
      .col-lg-4
        = button_to('New Page', new_item_path, :class => 'btn btn-large btn-primary')
      .col-lg-2
        = button_to('New Wine', new_template_wine_path, :class => 'btn btn-large btn-primary')