!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "NOODP", name: "ROBOTS"}/
    %title= title
    = stylesheet_link_tag :application, :media => 'all'
    = csrf_meta_tags
  %body{class: body_class}
    = render 'navbar'

    .container
      = render 'flashes'
      = yield
      %footer
        %h4 Powered By Slalom 2014

    = render 'javascript'